#history-screen__rect{
    width: 100%;
    height: 100%;
    fill: red;
}

#history-screen__list{
    width: 100%;
    height: 100%;
}

.history-screen__item {
    height: 50;
    width: 100%;
}
.history-screen__item-text{
    x: 10%;
    font-size: 24;
    fill: white;
}
.history-screen__header {
    height: 10;
    width: 100%;
}
.history-screen__footer {
    height: 50;
    width: 100%;
}

.history-screen__line {
  height: 2;
  width: 100%;
  fill: #222222;
  y: 100%-2;
}

.history-screen__item-text{
  text-length: 23;
}

.history-screen__rtn-btn--color { fill: fb-aqua; }

#history-screen__rtn-btn {
  x: 100%-75;
  y: 100%-45;
}

.history-screen__rtn-btn--image #image {
  href: "arrow-left-solid-black.png";
}