.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#main-screen__rect {
  width: 100%;
  height: 100%;
  fill: black;
}

.application-fill { fill: fb-aqua; }
.foreground-fill { fill: fb-blue; }
.background-fill { fill: fb-black; }

#btn-left #text {
  text-buffer: "LEFT";
}

#btn-right #text {
  text-buffer: "RIGHT";
}

#btn-history #text {
  text-buffer: "HISTORY";
}

#main-screen__center-date-text{
  y: 50%+20;
  x: 50%;
  text-anchor: middle;
  fill: white;
}
#main-screen__center-side-text{
  y: 50%-20;
  x: 50%;
  text-anchor: middle;
  fill: white;
  font-weight: bold;
}